<partial name="_Navbar.cshtml"></partial>
<h1>Welcome to Edit Page</h1>
<form action="/update" method="post">
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-info">
    </div>
</form>